.HomeHeader{
    flex: 1;

}

.custom-checkbox {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox .checkmark {
  width: 28px;
  height: 28px;
  border: 2px solid #333;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  user-select: none;
  transition: 0.2s;
}

.custom-checkbox input:checked + .checkmark {
  background-color: #4caf50;
  color: #fff;
}
